<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SHOW PAGE</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
    <!-- handlebars -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/js/show.js"></script>
  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
      <h1>{{title}}</h1>
      <h4>By: {{author}}</h4>
      </div>

      <div class ="container bookDisplay">

        <li class="list-group-item book" data-id="{{_id}}">
          <p><b>Contributor: </b>{{contributor}}</p>
          <p><b>Genre: </b>{{genre}}</p>
        </li>

      </div>




<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Edit Entry
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Entry</h4>
      </div>
      <div class="modal-body">


        <div class ="updateBookForm">
          <form id="updateBook">
            <div class="form-group">
              <input type="text" class = "form-control" name="contributor" id = "contributor" placeholder="Contributor">
            </div>
            <div class="form-group">
              <input type="text" class = "form-control" name="title" id ="title" placeholder="Title">
            </div>
            <div class="form-group">
              <input type="text" class = "form-control" name="author" id="author" placeholder="Author">
            </div>
            <div class="form-group">
              <input type="text" class = "form-control" name="genre" id="genre" placeholder="Genre">
            </div>
            <div class="form-group">
              <button type="submit" class = "form-control" id="createBookButton">Update Book</button>
            </div>
          </form>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>





      
        <button id="deleteBook">Delete Book</button>

  </body>
</html>
