<!DOCTYPE html>
<html class="wholepage" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SHOW PAGE</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
    <!-- handlebars -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/js/show.js"></script>
  </head>

  <body class="showpage">

      <div class="container bookInfo">
          <img src='/images/thanos.png' alt="HomePage" id="thanos">
        <h1>{{title}}</h1>
        <h3>By: {{author}}</h3>
      </div>



    <div class="container ">
      <div class="list-group-item bookDisplay">
        <img src={{image}} alt="Book Jacket" class="homepageImages">
        <p><b>Contributor: </b>{{contributor}}</p>
        <p><b>Genre: </b>{{genre}}</p>
        <p><b>Publisher: </b>{{publisher}}</p>
        <p><b>Publication Date: </b>{{publicationDate}}</p>
        <p><b>Synopsis: </b>{{synopsis}}</p>
      </div>
      <!-- Update Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="editEntry">Edit Entry</button>

      <!-- Update Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Edit Entry</h4>
            </div>
            <div class="modal-body">

              <div class="updateBookForm">
                <form id="updateBook">
                  <div class="form-group">
                    <input type="text" class="form-control" name="contributor" id = "contributor" placeholder="Contributor" value="{{contributor}}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="title" id ="title" placeholder="Title" value="{{title}}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="author" id="author" placeholder="Author" value="{{author}}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="genre" id="genre" placeholder="Genre" value="{{genre}}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="publisher" id="publisher" placeholder="Publisher" value="{{publisher}}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="publicationDate" id="publicationDate" placeholder="Publication Date" value="{{publicationDate}}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="synopsis" id="synopsis" placeholder="Synopsis" value="{{synopsis}}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="imageUrl" id="imageUrl" placeholder="Image Url" value="{{imageUrl}}">
                  </div>
                </form>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="saveChangesButton">Save changes</button>
            </div>
          </div>
        </div>
      </div>


      <button type="button" class="btn btn-danger btn-lg" id="deleteBook">Delete Book</button>
    </div>

    <!-- Reviews Container -->
    <div class="container reviews-container">
      <h1 class="text-center reviewsBook">Book Reviews</h1>

      <!-- Review Item  -->
      <div class="reviewArea review-item">
        {{#each reviews}}
        <li class="list-group-item reviewBox" data-id="{{_id}}">
          <div class="row">
            <p class="col-xs-9" id="reviewer"> <small>{{reviewer}}</small> </p>
            <p class="col-xs-3 text-right" id="dateDisplay"> <small>{{date}}</small> </p>
          </div>

          <p id="review"> {{review}} </p>
          {{/each}}
        </li>
      </div>

      <div class="addReview">
        <form class="form-horizontal reviewBox" data-id="{{_id}}">
          <input type="hidden" name="date" id="date" data-date-poop=""> 
          <div class="form-group">
            <input type="text" class="form-control" name="reviewer" id="reviewerInput" placeholder="Reviewer">
          </div>            
          <div class="form-group">
            <input type="text" class="form-control" name="review" id="reviewInput" placeholder="Review">         
          </div> 
          
          <button type="submit" class="btn btn-primary btn-lg" id="addReviewButton" >Add Review</button>

        </form>
      </div>

    </div> <!-- End .review-container -->
  </body>
</html>
